<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<form action="/user" method="post">
    <input type="text" name="prenom" id="" placeholder="prenom">
    <input type="text" name="nom" id="" placeholder="nom">
    <input type="text" name="login" id="" placeholder="login">
    <input type="text" name="password" id="" placeholder="password">
    <input type="submit" value="valider">
</form>

</body>
</html>