<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<form action="/user" method="">
    <input type="text" name="id" id="" placeholder="id">
    <input type="submit" value="valider">
</form>

</body>
</html>